*{
    padding: 0;
    margin: 0;
}

:root{
    /*Primary colors*/
    --Light_red: hsl(356, 100%, 66%);
    --Very_light_red: hsl(355, 100%, 74%);
    --Very_dark_blue:hsl(208, 49%, 24%);

    /*Second Colors*/

    --White: hsl(0, 0%, 100%);
    --Grayish_blue: hsl(240, 2%, 79%);
    --Very_dark_grayish_blue: hsl(207, 13%, 34%);
    --Very_dark_black_blue: hsl(240, 10%, 16%);

    /*Gradients*/

    --Very_light_red: hsl(13, 100%, 72%);
    --Light_red: hsl(353, 100%, 62%);

    --Very_dark_gray_blue: hsl(237, 17%, 21%);
    --Very_dark_desaturated_blue: hsl(237, 23%, 32%);

    /*Fonts*/

    --Family: 'Overpass', sans-serif;
    --Ubuntu: 'Ubuntu', sans-serif;
}

img{
    max-width: 100%;
}

html{
    color: #000;
    font-size: 16px;
    font-family: var(--Ubuntu);

}

a{
    text-decoration: none;
    color: inherit;
}

button{
   border: none;
   outline: 1px solid var(--White);
   padding: .8rem 2.4rem;
   border-radius: 1.2rem;
   background-color: transparent;
   color: var(--White);
   font-family: var(--Ubuntu);
   font-weight: 700;
   font-size: .8rem;
}

body{
    min-width: 375px;
}

/**/

.mainContent{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    row-gap: 20px;
}

/*Header main Content*/
.HeaderContent{
    background-color: var(--Light_red);
    color: #FFF;
    display: grid;
    grid-template-rows: 8rem 1fr 8rem; /*8rem 1fr 8rem*/
    /* padding: .1rem 1rem; */
    row-gap: .6rem;
    /* padding: 1rem; */
    border-bottom-left-radius: 8rem;
}

/*Header Nav*/

.Header__Nav{
    display: grid;
    grid-template-rows: 3rem 27rem; /*3rem 27rem*/
    position: relative;
    z-index: 99;
}

.Header__Nav--Top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header__Nav--Top>p{
    font-size: 2rem;
    font-family: var(--Ubuntu);
}

#Check{
    display: none;
}

.Header__Nav--Top>label>img{
    height: 2rem;
    filter: invert(1);
}

/*Header Nav Body*/

.Header__Nav--Body{
    background-color: var(--Very_light_red);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2.3rem 0;
    transform: translateY(-200%);
    opacity: 0;
    transition: all .7s ease-out;
    border-bottom-left-radius: 8rem;
}

/*Class for show the toggle menu*/

.Header__Nav__Body--Toggle{
    transform: translateY(0);
    opacity: 1;
}

.Header__Nav__Body--Toggle>a{
    transform: scale(1) !important;
}

.Header__Nav--Body>a{
    border-bottom: 3px solid var(--Light_red);
    font-size: 1.1rem;
    padding-bottom: .2rem;
    transform: translateY(0);
    transform: scale(0);
    transition: all 1s;
    
}

.Header__Nav--Body>a:hover{
    transform: translateY(.5rem);
}



.Header__Nav__Body--Actions{
        display: flex;
        column-gap: 10px;
    }

.Header__Nav__Body--Actions>button:nth-child(2){
        background-color: var(--White);
        color: var(--Light_red);
    }





/*Header Paragraph*/

.Header__Paragraph{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
    text-align: center;
    row-gap: 10px;
    align-items: center;
    padding: .4rem;
    font-family: var(--Ubuntu);
}

.Header__Paragraph--Title{
    /* font-size: 2.3rem; */
    font-size: 2.3rem;
}

.Header__Paragraph--SubTitle{
    font-size: 1.2rem;
    font-weight: 300;
    font-family: var(--Family);
    padding: 1rem;
}

/*Header Buttons*/

.Header__Buttons{
    display: flex;
    justify-content: center;
    column-gap: 1.3rem;
}

.Header__Buttons--button{
    height: 40px;
    /* padding: .8rem;
    outline: none;
    border: none; */
    /* color: var(--Light_red); */
    /* font-family: var(--Ubuntu);
    font-weight: 700;
    border-radius: 1.3rem; */
}

.ButtonFree{
    background-color: var(--White);
    color: var(--Light_red);
}





